<div class="soloPics">
  <h1><%= @photo1[:title] %></h1>
  <img src="<%= @photo1[:img] %>" alt=""/>
  <br>
  <img src="/images/lion1.jpg" alt="">
  <br>
  <a href="/photos/<%= @photo1[0] %>/edit">Edit</a>
  <br><br><br><br>
</div>
