<div class="soloPics">
  <h1><%= @photo2[:title] %></h1>
  <img src="<%= @photo2[:img] %>" alt=""/>
  <br>
  <img src="/images/tiger1.jpg" alt="">
  <br>
  <a href="/photos/<%= @photo2[1] %>/edit">Edit</a>
  <br><br><br><br>
</div>
